 /* Webfont: Yekan */
@font-face {
	font-family: 'Yekan';
	src:	url('./font/Yekan-Font-master/Yekan.eot'); /* IE9 Compat Modes */
	src:	url('./font/Yekan-Font-master/Yekan.eot') format('embedded-opentype'), /* IE6-IE8 */
			url('./font/Yekan-Font-master/Yekan.woff2') format('woff2'), /* Modern Browsers */
			url('./font/Yekan-Font-master/Yekan.woff') format('woff'), /* Modern Browsers */
			url('./font/Yekan-Font-master/Yekan.otf') format('opentype'), /* Open Type Font */	
			url('./font/Yekan-Font-master/Yekan.ttf') format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}
 *{
    margin: 0;
    padding: 0;
    font-family: 'Yekan', 'Times New Roman', Times, serif, sans-serif;
    
}

header{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-between;
    background: #01c2ac;
}

.logo img {
    width: 150px;
    height: 100px;
}
.navbar {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.navbar ul{
    display: flex;
    list-style-type: none;
}

.navbar a{
    color: #ffffff;
    padding: 20px;
    text-decoration: none;
}

.navbar .sign-out{
    color: rgb(187, 63, 63);
}

.logo-name {
    color: #ffffff;
}

nav{
    margin-right: 8px;
}

body {
    background: #edf2f7;
}

.main {
    display: flex;
    margin: 1rem;
}

aside {
    width: 15%;
    height: 600px;
    margin-right: 5px;
}

main {
    width: 70%;
    height: 2800px;
}

main, aside {
    background: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 2rem 4rem;
    display:contents;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;   
}


.cards{
    width: calc(100%-1rem);
    display: grid;
    grid-template-columns: repeat(4,8fr);
    grid-template-rows: auto;
    gap: 10px;
    margin: 0 1.5rem;
}

.card-image {
    align-items: center;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    height: 100px;
    display: flex;
}

.card-content {
    line-height: 1.5rem;
    font-size: 0.9rem;
    /* margin-bottom: 16px; */
    padding: 15px;
    text-align: justify;
    background: #fafafa;
}

.card {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.footer {
    display: flex;
    align-items: center;
    padding: 0rem;
    margin-top: 10rem;
    gap: 40rem;
    justify-content: space-between;
    background: #01c2ac;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    margin: 1.5rem 0rem 0rem;
}

.footer-text {
    line-height: 1.5rem;
    font-size: 0.9rem;
    padding: 15px;
    text-align: justify;
    color: #fafafa;
}

.footer li{
    display: flex;
    list-style-type: none;
    line-height: 1px;
}

.footer a{
    color: #ffffff;
    padding: 20px;
    text-decoration: none;
}